.container{
 margin: 25px;
 border: solid;
 border-color: black;
}

.title{
  margin: 5px;
}

.id{
  margin: 5px;
}

.btnset{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.newbtn{
  margin: 20px;
  display:flex;
}